<section class="socials" id="social">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div class="username py-1">
                    <i class="bi bi-person-fill"></i> ZiadAhmed
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="social-icons">
                    <ul class="nav float-end">
                        <li><a href="https://www.facebook.com/profile.php?id=100006028657997"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/ziad76892"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/ziad-ahmed-447753182/"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- --------------------------- Start navbar ------------------------------- -->

<nav class="navbar navbar-expand-lg Categories pb-0">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand fw-bold fs-4" href="/home">Z <i class="bi bi-cart"></i> Shop</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"><i class="bi bi-house-door-fill"></i> Home</a>
            </li>
            <li class="nav-item dropdown" onmouseover="ShowList(this)" onmouseout="CloseList(this)">
                <a class="nav-link dropdown-toggle" href="Products.html" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="chgColor(this)">
                    <i class="bi bi-bag-fill"></i> Shop
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" (click) = "goToProducts()">Product</a></li>
                    <li><a class="dropdown-item" href="Cart.html">Cart</a></li>
                    <li><a class="dropdown-item" href="CheckOut.html">Check Out</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register"><i class="bi bi-box-arrow-in-right"></i> Register/Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="LogIn.html"><i class="bi bi-inbox"></i> Contact</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-search" type="submit">Search</button>
        </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <strong id="cat">Categories</strong>  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" onmouseover="ShowList(this)" onmouseout="CloseList(this)">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Winter Collection
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" (click) = "gitProductsInType(1)">Sweat Shirt</a></li>
                        <li><a class="dropdown-item" (click) = "gitProductsInType(2)">Pullover</a></li>
                        <li><a class="dropdown-item" (click) = "gitProductsInType(3)">Jackit</a></li>
                        <li><a class="dropdown-item" (click) = "gitProductsInType(4)">Coat</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" onmouseover="ShowList(this)" onmouseout="CloseList(this)">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Summer Collection
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" (click) = "gitProductsInType(5)">T-Shirt</a></li>
                        <li><a class="dropdown-item" (click) = "gitProductsInType(6)">Polo-Shirt</a></li>
                        <li><a class="dropdown-item" (click) = "gitProductsInType(7)">Short</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click) = "gitProductsInCategory(3)">Mens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  (click) = "gitProductsInCategory(4)">Womens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  (click) = "gitProductsInCategory(5)">Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  (click) = "gitProductsInCategory(6)">Interiors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click) = "gitProductsInCategory(7)">Bags</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- -------------------------------End navbar------------------------------------- -->
