<!-- -------------------------------Start Slider ------------------------------------->
<section class="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="slider-left">
                                            <h1 class="py-2">Z <i class="bi bi-cart"></i> Shop</h1>
                                            <h2 class="py-2">New Summer Collections</h2>
                                            <p class="py-2">The Paragraphs module allows content creators to choose which kinds of paragraphs they want to place on the page. </p>        
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <img src="../../assets/../../assets/images/home/Slider/girl1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="slider-left">
                                            <h1 class="py-2">Z <i class="bi bi-cart"></i> Shop</h1>
                                            <h2 class="py-2">Winter Is Coming</h2>
                                            <p class="py-2">The Paragraphs module allows content creators to choose which kinds of paragraphs they want to place on the page. </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <img src="../../assets/images/home/Slider/girl2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="slider-left">
                                            <h1 class="py-2">Z <i class="bi bi-cart"></i> Shop</h1>
                                            <h2 class="py-2">New Dresses Collections</h2>
                                            <p class="py-2">The Paragraphs module allows content creators to choose which kinds of paragraphs they want to place on the page. </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <img src="../../assets/images/home/Slider/girl3.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section> <br>
<!-- -------------------------------End Slider ---------------------------------- -->

<!-- ----------------------------Start Features Item-------------------------- -->
<section class="home-gallary pb-5 pt-2">
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pb-4 px-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 px-0">
                            <div class="pb-3">
                                <a href="#" class="gallary-link">
                                    <img src="../../assets/images/home/Home1.jpg">
                                    <div>
                                        <div>
                                            Summer
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="pb-3">
                                <a href="#" class="gallary-link">
                                    <img src="../../assets/images/home/Home2.jpg">
                                    <div>
                                        <div>
                                            Clearance
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div >
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#" class="gallary-link">
                                <img src="../../assets/images/home/Home3.jpg">
                                <div>
                                    <div>
                                        New Arrival
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 pb-4 px-0">
                <div>
                    <div class="container-fluid px-0">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 pb-3 pe-0">
                                <a href="#" class="gallary-link">
                                    <img src="../../assets/images/home/Home4.jpg">
                                    <div>
                                        <div>
                                            Men
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 pb-3">
                                <a href="#" class="gallary-link">
                                    <img src="../../assets/images/home/Home5.jpg">
                                    <div>
                                        <div>
                                            Kids
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" class="gallary-link">
                        <img src="../../assets/images/home/Home6.jpg">
                        <div>
                            <div>
                                See More
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>        
<!-- ----------------------------End Features Item-------------------------- -->

<!-- ----------------------------Start category Tab-------------------------- -->

<div class="category-tab">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 tabs">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-tshirts-tab" data-bs-toggle="tab" data-bs-target="#nav-tshirts" type="button" role="tab" aria-controls="nav-tshirts" aria-selected="true">Trending</button>
                        <button class="nav-link" id="nav-kids-tab" data-bs-toggle="tab" data-bs-target="#nav-kids" type="button" role="tab" aria-controls="nav-kids" aria-selected="false">Best Seller</button>
                        <button class="nav-link" id="nav-sunglasses-tab" data-bs-toggle="tab" data-bs-target="#nav-sunglasses" type="button" role="tab" aria-controls="nav-sunglasses" aria-selected="false">Glasses</button>
                        <button class="nav-link" id="nav-poloshirts-tab" data-bs-toggle="tab" data-bs-target="#nav-poloshirts" type="button" role="tab" aria-controls="nav-poloshirts" aria-selected="false">For Season</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-tshirts" role="tabpanel" aria-labelledby="nav-tshirts-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery1.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery2.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery3.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery4.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>              
                    </div>
                    <div class="tab-pane fade" id="nav-kids" role="tabpanel" aria-labelledby="nav-kids-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery4.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery3.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery1.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery2.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-sunglasses" role="tabpanel" aria-labelledby="nav-sunglasses-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery1.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery2.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery3.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery4.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-poloshirts" role="tabpanel" aria-labelledby="nav-poloshirts-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery4.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery3.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery1.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-card">
                                        <div class="product-info text-center">
                                            <img src="../../assets/images/home/Category-Tab/gallery2.jpg">
                                            <h2 class="mt-4 mb-4">$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn add-to-cart"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------End Tab Category-------------------------- -->
